<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="styles/styles.css" media="screen" charset="utf-8">
    <script>{{{environment}}}</script>
</head>
<body>

    {{{body}}}

</body>
</html>
