<div class="spotify-songs-view">
    <ul></ul>
</div>

<script type="text/template" class="spotify-song-view">
    <li>Artist: <%= artists[0].name %> - Name: <%= name %></li>
</script>

<script id="songs" type="application/json">
    {{{ jsonifiedSongs }}}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>
<script src="scripts/spotify/spotify-app.js" charset="utf-8"></script>
