{
    "ecmaFeatures": {
        "arrowFunctions": true,
        "objectLiteralShorthandMethods": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": [2, 4],
        "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
        "quotes": [2, "single"],
        "strict": [1, "global"],
        "camelcase": [0]
    }
}
