<ul>
    <li><a href="contractors">Contractors</a> [Backbone]</li>
    <li><a href="photos">Photos</a> [React]</li>
    <li><a href="sfdata-311">SF Data 311</a> [D3, Backbone]</li>
    <li><a href="sfdata-tbd">SF Data (TBD)</a> [Backbone]</li>
    <li><a href="spotify">Spotify</a> [Backbone]</li>
    <li><a href="tic-tac-toe">Tic-Tac-Toe</a></li>
    <li><a href="todo">To-Do List</a> [Ember]</li>
</ul>
