<ul>
    <li><a href="sfdata-tbd">SF Data (TBD)</a> [Backbone]</li>
    <li><a href="spotify">Spotify</a> [Backbone]</li>
    <li><a href="tic-tac-toe">Tic-Tac-Toe</a></li>
    <li><a href="todo">To-Do List</a> [Ember]</li>
</ul>
