<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/1.4.3.1/css/fluidbox.css" media="screen" title="fluidbox" charset="utf-8">
<link rel="stylesheet" href="styles/react.css" media="screen" title="react" charset="utf-8">

<div class="react">
    {{{imageList}}}
</div>
<script id="images" type="application/json">
    {{{ jsonifiedImages }}}
</script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/fluidbox/jquery.fluidbox.min.js"></script>
<script src="scripts/photos/photos-lib.js"></script>
<script src="scripts/photos/photos-browser.js"></script>
