<div class="spotify-song-collection-view">
    <ul></ul>
	<div class="small spinner"><div>Loading…</div></div>
</div>

<script type="text/template" class="spotify-song-view">
{{{artists.artist[0].name}}}
</script>

<script id="songs" type="application/json">
    {{{ jsonifiedSongs }}}
</script>
<script src="../node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script src="../node_modules/underscore/underscore-min.js" charset="utf-8"></script>
<script src="../node_modules/backbone/backbone-min.js" charset="utf-8"></script>
<script src="../public/scripts/spotify/spotify-app.js" charset="utf-8"></script>
