{{addStylesheet "stylesheets/tic-tac-toe.css"}}

<h2>Tic Tac Toe!</h2>

<table id="board">
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

{{addScript "scripts/tic-tac-toe.js"}}
